.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: #0f172a;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  margin-left: auto;   /* pushes menu to the right */
  display: flex;
  gap: 60px;           /* equal spacing */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.login-btn {
  background: #38bdf8;
  padding: 6px 12px;
  border-radius: 5px;
  color: black;
}
