.sidebar {
  width: 180px;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
  padding: 35px 20px;
  position: fixed;
  height: 100vh;
}


.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  cursor: pointer;
}
.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  color: #38bdf8;
}
