.dashboard-container {
  display: flex;
}

.dashboard-content {
  padding: 40px;
  flex: 1;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.provider-info {
  margin-top: 40px;
  background: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
}

.provider-info ul {
  list-style: none;
  padding: 0;
}

.provider-info li {
  margin: 10px 0;
}
