.patients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.patient-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.patient-card h3 {
  margin-bottom: 10px;
  color: #0f172a;
}

.patient-card p {
  font-size: 15px;
  color: #334155;
  margin: 6px 0;
}

.view-btn {
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
